<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinmukunConvert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KinmukunConvert.Properties.Settings>
            <setting name="txtSrc" serializeAs="String">
                <value />
            </setting>
            <setting name="txtDst" serializeAs="String">
                <value />
            </setting>
            <setting name="txtSort" serializeAs="String">
                <value />
            </setting>
            <setting name="txtGakkoMei" serializeAs="String">
                <value />
            </setting>
            <setting name="txtCal" serializeAs="String">
                <value />
            </setting>
            <setting name="txtHandleNum" serializeAs="String">
                <value>144</value>
            </setting>
            <setting name="txtHandleNum2" serializeAs="String">
                <value>126</value>
            </setting>
        </KinmukunConvert.Properties.Settings>
    </userSettings>
</configuration>